<header>
    <nav class="navbar navbar-expand-lg navbar-light border border-0 m-0 p-0">
        <span class="navbar-brand ml-3">
            <a href="#" class="h1 text-secondary" data-bind="click: $root.goToDashboard">1846</a>
        </span>
        <div class="navbar-nav mr-auto d-flex">
            <h2 class="mb-0 mr-3 text-dark font-weight-light"
                data-bind="text: $data.game().state().roundName()"></h2>
            <!-- ko if: $data.game().state().currentCompanyId() -->
            <h2 class="mb-0 pl-2 pr-2 font-weight-light" style="border-radius:.7rem"
                data-bind="css: 'bg-' + $root.game().state().currentCompanyId() + ' text-' + $root.game().state().currentCompanyId() , text: $data.game().state().getCompany($root.game().state().currentCompanyId()).nickname"></h2>
            <!-- /ko -->
            <!--<h2 class="mb-0 text-dark font-weight-light"-->
            <!--data-bind="text:($data.game().state().currentCompanyId() ? '&nbsp;' : '') + $data.game().state().currentPlayer().user().username"></h2>-->
        </div>
        <div data-bind="template: { name: 'views/players', data: $data.game().state()}"></div>
    </nav>
    <div class="border border-right-0 border-left-0 pl-3 pr-3 bg-light"
         data-bind="visible:!$data.game().privateDraft()">
        <ul class="nav">
            <li class="nav-item"
                data-bind="css: $data.game().activePanel() === $data.game().ActivePanelIDs.MAP ? 'bg-active-nav' : ''">
                <a
                        href="#" class="nav-link "
                        data-bind="click: function() {$data.game().setActivePanel($data.game().ActivePanelIDs.MAP)}, css: $data.game().activePanel() === $data.game().ActivePanelIDs.MAP ? 'active text-white font-weight-bold' : 'text-secondary' ">Map</a>
            </li>
            <li class="nav-item"
                data-bind="css: $data.game().activePanel() === $data.game().ActivePanelIDs.OWNERSHIP ? 'bg-active-nav' : ''">
                <a
                        href="#" class="nav-link"
                        data-bind="click: function() {$data.game().setActivePanel($data.game().ActivePanelIDs.OWNERSHIP)}, css: $data.game().activePanel() === $data.game().ActivePanelIDs.OWNERSHIP ? 'active text-white font-weight-bold' : 'text-secondary' ">Ownership</a>
            </li>
            <li class="nav-item"
                data-bind="css: $data.game().activePanel() === $data.game().ActivePanelIDs.TILE_MANIFEST ? 'bg-active-nav' : ''">
                <a
                        href="#" class="nav-link"
                        data-bind="click: function() {$data.game().setActivePanel($data.game().ActivePanelIDs.TILE_MANIFEST)}, css: $data.game().activePanel() === $data.game().ActivePanelIDs.TILE_MANIFEST ? 'active text-white font-weight-bold' : 'text-secondary' ">Tile
                    Manifest</a>
            </li>
            <li class="nav-item"
                data-bind="css: $data.game().activePanel() === $data.game().ActivePanelIDs.HISTORY ? 'bg-active-nav' : ''">
                <a
                        href="#" class="nav-link"
                        data-bind="click: function() {$data.game().setActivePanel($data.game().ActivePanelIDs.HISTORY)}, css: $data.game().activePanel() === $data.game().ActivePanelIDs.HISTORY ? 'active text-white font-weight-bold' : 'text-secondary' ">History</a>
            </li>
            <li class="nav-item">
                <a
                        href="#" class="nav-link text-danger"
                        data-bind="click: function() {$data.game().setActivePanel($data.game().ActivePanelIDs.REPORT_BUG)}, css: $data.game().activePanel() === $data.game().ActivePanelIDs.REPORT_BUG ? 'active text-white font-weight-bold' : 'text-secondary' ">Report
                    Bug</a>
            </li>
        </ul>
    </div>
</header>
<div class="container-fluid px-0">
    <div data-bind="template: { name: 'views/turnsummary', data: $data.game().state() }, visible:!$data.game().privateDraft()"></div>
    <div class="row"
         data-bind="visible: !$data.game().privateDraft()">
        <div class="col">
            <div data-bind="template: { name: 'views/priceTrack', data: $data.game().state() }"></div>
        </div>
    </div>

    <div data-bind="template: { name: 'views/privateDraft', data: $data.game().privateDraft() }, visible:$data.game().privateDraft()"></div>
    <div data-bind="visible:!$data.game().privateDraft()">
        <div data-bind="template: { name: 'views/bugReport' }, visible:$data.game().activePanel() === $data.game().ActivePanelIDs.REPORT_BUG"></div>

        <div>
            <div class="col bg-dark p-0" data-bind="css: $data.game().touchMap() ? '' : 'pr-2'">
                <div class="d-flex">
                    <div data-bind="visible:!$data.game().touchMap()">
                        <div style="min-width:220px;"
                             data-bind="template: { name: 'views/companies', data: $data.game().state() }"></div>
                    </div>
                    <div class="pt-2" style="width:100%;overflow:hidden;">
                        <!-- ko if: $data.game().state().winner() -->
                        <div data-bind="template: { name: 'views/winner', data: $data.game().state() }"></div>
                        <!-- /ko -->
                        <div data-bind="template: { name: 'views/stockRound', data: $data.game().stockRound() }, visible:!$data.game().privateDraft()"></div>
                        <div data-bind="template: { name: 'views/operatingRound', data: $data.game().operatingRound() }, visible:$data.game().state().isOperatingRound()"></div>
                        <div data-bind="visible: $data.game().activePanel() === $data.game().ActivePanelIDs.OWNERSHIP">
                            <div class="row">
                                <div class="col">
                                    <div data-bind="template: { name: 'views/ownership', data: $data.game().state() }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2" data-bind="if: $data.game().activePanel() === $data.game().ActivePanelIDs.HISTORY">
                            <div class="row bg-light">
                                <div class="col">
                                    <div data-bind="template: { name: 'views/turnHistory', data: $data.game().state() }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2" data-bind="if: $data.game().activePanel() === $data.game().ActivePanelIDs.TILE_MANIFEST">
                            <div class="row bg-light">
                                <div class="col">
                                    <div data-bind="template: { name: 'views/tileManifest', data: $data.game().state() }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2"
                             data-bind="visible: $data.game().activePanel() === $data.game().ActivePanelIDs.MAP">
                            <div class="d-flex align-items-end">
                                <div class="btn-group" role="group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-light font-weight-bold " style="height:35px;"
                                            data-bind="click: function() { $data.game().zoomOut(); }"><span
                                            class="oi oi-zoom-out"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-light font-weight-bold" style="height:35px;"
                                            data-bind="click: function() { $data.game().zoomIn(); }"><span
                                            class="oi oi-zoom-in"></span>
                                    </button>
                                </div>
                                <!--&lt;!&ndash; ko if: $root.game().state().isOperatingRound() &ndash;&gt;-->
                                <!--<div class="d-flex justify-content-center mt-2" style="width:100%">-->
                                <!--<ul class="list-unstyled font-weight-light m-0 d-flex flex-wrap text-center">-->
                                <!--<li>-->
                                <!--<div class="h3 font-weight-light pr-3 text-white ">Select Train</div>-->
                                <!--</li>-->
                                <!--&lt;!&ndash; ko foreach: $root.game().operatingRound().companyTrains() &ndash;&gt;-->
                                <!--<li>-->
                                <!--<div class="card d-inline-flex bg-route-train-mini text-white justify-content-start text-left"-->
                                <!--data-bind="css: 'bg-route-' + $data.route.color, style: { 'margin-left': $index() === 0 ? '0' : '10px' },click: function() { $root.game().operatingRound().selectTrain($data)} ">-->
                                <!--<div class="bg-route-train-border"-->
                                <!--data-bind="css: 'bg-route-border-' + $data.route.color + ' ' + ($root.game().operatingRound().selectedTrain() === $data.id ? 'bg-route-train-mini-big-border' : 'bg-route-train-mini-small-border')"></div>-->
                                <!--<div style="border-radius:4px; border:1px solid white; padding:0 5px;position:absolute;top:-5px;right:-5px;color:white"-->
                                <!--data-bind="css: 'bg-route-' + $data.route.color"><span-->
                                <!--style="font-size:16px;font-weight:600"-->
                                <!--data-bind="text: '$' + $data.route.revenue()"></span>-->
                                <!--</div>-->
                                <!--<div class="h3 m-0 pl-2" data-bind="text:$data.getName()"></div>-->
                                <!--</div>-->
                                <!--</li>-->
                                <!--&lt;!&ndash; /ko &ndash;&gt;-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; /ko &ndash;&gt;-->
                            </div>

                            <div id="map" style="position:relative;width:100%;overflow:hidden;"
                                 data-bind="style: { height: $data.game().mapContainerHeight() }, css: $data.game().touchMap() ? 'mx-0' : ''">
                                <div class="mt-2"
                                     style="position:relative;transform-origin:0 0;transform:scale(.817);width:1836px;height:1186px;"
                                     data-bind="style: { transform: 'scale(' + $data.game().zoom() + ')' }">
                                    <img style="width:1836px;height:1186px;"
                                         data-bind="attr: { src: 'images/1846-map.jpg' }"/>
                                    <div style="position:absolute;top:0;left:36px;height:1083px;width:1370px;"
                                         data-bind="template: {name:'views/grid', data: $data.game().grid()}"></div>
                                    <div style="position:absolute;top:358px;left:1411px;height:437px;width:397px;"
                                         data-bind="template: {name:'views/market', data: $data.game().state()}"></div>
                                    <div style="position:absolute;top:39px;left:47px;height:124px;width:257px;"
                                         data-bind="template: {name:'views/limits', data: $data.game().state()}"></div>
                                    <div style="position:absolute;top:934px;left:953px;height:212px;width:855px;"
                                         data-bind="template: {name:'views/trains', data: $data.game().state()}"></div>
                                    <div style="position:absolute;top:898px;left:723px;height:175px; width:175px;"
                                         data-bind="template: { name: 'views/rounds', data: $data.game().state() }"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>