
nav a, nav a:hover {
    color: #212529;
    text-decoration: none;
}

.grid {
    margin: 0;
    padding: 0;
}

.pos0 {
    transform: translate(63px, 72px) rotate(0);
}

.pos1 {
    transform: translate(63px, 72px) rotate(60deg);
}

.pos2 {
    transform: translate(63px, 72px) rotate(120deg);
}

.pos3 {
    transform: translate(63px, 72px) rotate(180deg);
}

.pos4 {
    transform: translate(63px, 72px) rotate(240deg);
}

.pos5 {
    transform: translate(63px, 72px) rotate(300deg);
}

.pos-value0 {
    transform: rotate(0);
}

.pos-value1 {
    transform: rotate(-60deg);
}

.pos-value2 {
    transform: rotate(-120deg);
}

.pos-value3 {
    transform: rotate(-180deg);
}

.pos-value4 {
    transform: rotate(-240deg);
}

.pos-value5 {
    transform: rotate(-300deg);
}


.bg-gt {
    background-color: #f4801a !important;
}

.bg-nyc {
    background-color: black !important;
}

.bg-erie {
    background-color: #fce80a !important;
}

.bg-prr {
    background-color: #f21921 !important;
}

.bg-bando {
    background-color: #0d56ad !important;
}

.bg-ic {
    background-color: #367545 !important;
}

.bg-cando {
    background-color: #8bd9fa !important;
}

.bg-active-nav {
    background-color: #999;
}

.text-gt {
    color: white;
}

.text-nyc {
    color: white;
}

.text-erie {
    color: #333;
}

.text-prr {
    color: white;
}

.text-bando {
    color: white;
}

.text-ic {
    color: white;
}

.text-cando {
    color: #333;
}

.editable .tile .tile-border:hover {
    cursor:pointer;
    stroke: red;
    stroke-width: 6;
}

.popover {
    max-width: 600px !important;
}