<div style="pointer-events:none;position:absolute;"
     data-bind="style: { top: $data.top +'px', left: $data.left + 'px'}, css: {editable: $data.canEdit()}">
    <!-- ko if: $data.visibleTile() -->
    <svg xmlns="http://www.w3.org/2000/svg" pointer-events="none"
         data-bind="style: { width: $data.width +'px', height: $data.height + 'px'}">
        <defs>
            <clipPath id="" data-bind="attr: { id: 'tile-clip' + $data.id }">
                <polygon stroke="black"
                         points="" data-bind="attr: { points: $data.outline }"></polygon>
            </clipPath>
        </defs>
        <g clip-path="url(#tile-clip)" pointer-events="all" class="tile" xmlns="http://www.w3.org/2000/svg"
           fill-opacity="1" visibility="inherit"
           data-bind="attr: { 'clip-path': 'url(#tile-clip' + $data.id + ')', transform: 'translate(' + Math.floor($data.width/2) + ', ' + Math.floor($data.height/2)+')' }, popover: $data.popoverParams, css: $data.offboard ? '' : 'pos' + ($data.visibleTile().position ? $data.visibleTile().position() : 0)">

            <g pointer-events="all" transform=""
               data-bind="attr: { transform: 'translate(-' + Math.floor($data.width/2) + ', -' + Math.floor($data.height/2)+')'  }, template: { name: 'views/tiles/' + $root.game().state().manifest.getTemplateName($data.visibleTile().id), data: $data.visibleTile() }"></g>

            <polygon pointer-events="all" class="tile-border" fill="none" stroke="yellow" stroke-width="2"
                     points="" data-bind="attr: { points: $data.outline }" data-mouseover="onMouseOver"
                     data-mousedown="onMouseDown" data-mouseout="onMouseOut" data-mouseup="onMouseUp"></polygon>

        </g>
    </svg>
    <!-- /ko -->
</div>

<!-- ko if: $data.preview() -->
<div class="position-fixed" style="height:100%;width:100%;left:0;top:0;overflow:hidden;z-index:99"></div>
<div class="d-flex position-absolute justify-content-between" style="width:132px;z-index:100"
     data-bind="style: { top: ($data.top-35) + 'px', left: ($data.left-3) + 'px'}">
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-danger font-weight-bold"
            data-bind="click: $data.cancelPreview"><span class="oi oi-x" title="icon name" aria-hidden="true"></span>
    </button>
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-light font-weight-bold"
            data-bind="visible: $data.allowedPreviewPositions().length > 1, click: $data.nextPreviewPosition"><img
            alt="cancel" style="width:16px; height:16px;" data-bind="attr: { src: 'open-iconic/svg/reload.svg' }"/>
    </button>
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-success"
            data-bind="click: function() { $data.commitPreview($root.game().state());}">OK
    </button>
</div>
<!-- /ko -->
