<!-- ko if: $data.top > 0 -->
<div style="pointer-events:none;position:absolute;"
     data-bind="style: { top: $data.top +'px', left: $data.left + 'px'}, css: {editable: $data.canEdit()}">
    <!-- ko if: $data.visibleTile() -->

    <svg xmlns="http://www.w3.org/2000/svg" style="width:126px;height:144px;" pointer-events="none">
                <defs>
        <clipPath id="tile-clip">
            <polygon stroke="black"
                     points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>
        </clipPath>
    </defs>
    <g clip-path="url(#tile-clip)" class="tile" xmlns="http://www.w3.org/2000/svg" fill-opacity="1" visibility="inherit"
        data-bind="popover: $data.popoverParams, css: 'pos' + ($data.visibleTile().position ? $data.visibleTile().position() : 0)" >

        <g pointer-events="all" transform="translate(-63,-72)" data-bind="template: { name: 'views/tiles/' + $root.game().state().manifest.getTemplateName($data.visibleTile().id), data: $data.visibleTile() }"></g>
        <polygon pointer-events="all"  class="tile-border" fill="none" stroke="none" stroke-width="0"
                 points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>
    </g>
    </svg>
    <!-- /ko -->
</div>

<!-- ko if: $data.preview() -->
<div class="position-fixed" style="height:100%;width:100%;left:0;top:0;overflow:hidden;z-index:99"></div>
<div class="d-flex position-absolute justify-content-between" style="width:132px;z-index:100" data-bind="style: { top: ($data.top-35) + 'px', left: ($data.left-3) + 'px'}">
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-danger font-weight-bold" data-bind="click: $data.cancelPreview"><span class="oi oi-x" title="icon name" aria-hidden="true"></span></button>
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-light font-weight-bold" data-bind="visible: $data.allowedPreviewPositions().length > 1, click: $data.nextPreviewPosition" ><img alt="cancel" style="width:16px; height:16px;" data-bind="attr: { src: 'open-iconic/svg/reload.svg' }"/></button>
    <button type="button" style="min-width:35px;" class="btn btn-sm btn-success" data-bind="click: function() { $data.commitPreview($root.game().state());}">OK</button>
</div>
<!-- /ko -->
<!-- /ko -->