<div class="text-center pt-2">
    <h4 class="text-white font-weight-light">Operating Order</h4>
</div>
<!-- ko foreach: $data.getOperatingCompanies() -->
<div class=" text-center pr-3 pl-3 pt-1 pb-1 m-0 mt-2 mr-2 ml-2 border-0 font-weight-light"
     style="min-width:10rem;cursor:pointer;"
     data-bind="click: function() { $root.game().selectCompany($data.id); },css: 'bg-' + $data.id + ' text-' + $data.id + ($root.game().selectedCompany() === $data.id || $root.game().state().currentCompanyId() === $data.id ? ' mr-0 ml-0' : ' mr-0 ml-0')">

    <!-- ko if: $root.game().selectedCompany() !== $data.id -->
    <h6 class="mb-0" data-bind="text: $data.name"></h6>
    <div class="d-flex justify-content-between text-center mt-1">
        <div class="mr-3">
            <div style="font-size:10px;margin-bottom:-5px;">cash</div>
            <div style="font-size:.9rem" data-bind="text: '$' + cash()"></div>
        </div>
        <div class="mr-3">
            <div style="font-size:10px;margin-bottom:-5px;">shares</div>
            <div style="font-size:.9rem" data-bind="text: shares()"></div>
        </div>
        <div>
            <div style="font-size:10px;margin-bottom:-5px;">last run</div>
            <div style="font-size:.9rem" data-bind="text: '$' + lastRun()"></div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.game().selectedCompany() === $data.id  -->
    <div class="d-flex justify-content-center align-items-center" style="height:43px;">
        <h5 class="font-weight-normal mb-0" data-bind="text:$data.name"></h5>
    </div>
    <!-- /ko -->
</div>
<!-- ko if: $root.game().selectedCompany() === $data.id  -->
<div data-bind="template: {name:'views/operatingCompany', data: $data }"></div>
<!-- /ko -->
<!-- /ko -->