<div class="text-center">
    <div class="bg-dark p-2" style="width:100%">
    <table class="table text-center bg-dark m-0">
        <thead>
        <tr>
            <th colspan="2" scope="col" class="border-0 font-weight-normal pt-2 pb-2"
                data-bind="css: 'bg-' + $data.id + ' text-' + $data.id"><h5 class="font-weight-normal mb-0"
                                                                            data-bind="text:$data.name"></h5>
            </th>
        </tr>
        </thead>
        <tbody>
                <tr>
            <th colspan="2" scope="col" style="height:8px;" class="p-0 border-0"></th>
        </tr>
        <tr>
            <th colspan="2" scope="col" style="height:10px;" class="border-0 font-weight-normal p-0"
                data-bind="css: 'bg-' + $data.id + ' text-' + $data.id">Player Shares
            </th>
        </tr>
        <!-- ko foreach: $root.game().state().players() -->
        <tr>
            <td class="border-0 font-weight-normal  p-0 text-right" scope="row"
                data-bind="css: $root.game().state().currentPlayerId() === $data.id ? 'bg-warning': $index() %2 ? 'bg-table-row' : 'bg-light'">
                <div class="p-1 pl-2 pr-2">
                    <div data-bind="text:$data.user().username">Price</div>
                </div>
            </td>
            <td class="pt-1 pb-1 border-0 "
                data-bind="css: $root.game().state().currentPlayerId() === $data.id ? 'bg-warning' : $index() % 2 ? 'bg-table-row' : 'bg-light'">
                <div data-bind="text:$data.numSharesOwnedOfCompany($parent.id)"></div></td>
            </tr>
        <!-- /ko -->
        <tr>
            <th colspan="2" scope="col" style="height:10px;" class="border-0 font-weight-normal p-0"
                data-bind="css: 'bg-' + $data.id + ' text-' + $data.id">Avail. Shares
            </th>
        </tr>
        <tr>
            <td class="border-0 bg-light font-weight-normal p-0 text-right " scope="row">
                <div class=" p-1 pl-2 pr-2">
                    <div>Price</div>
                </div>
            </td>
            <td class="bg-light pt-1 pb-1 border-0 ">
                <div data-bind="text: '$' + $data.price()"></div>
            </td>
        </tr>
        <tr>
            <td class="border-0 bg-table-row font-weight-normal p-0 text-right " scope="row">
                <div class="p-1 pl-2 pr-2">
                    <div>Market</div>
                </div>
            </td>
            <td class="bg-table-row pt-1 pb-1 border-0 ">
                <div data-bind="text: $root.game().state().bank.numSharesOwnedOfCompany($data.id)"></div>
            </td>
        </tr>
        <tr>
            <td class="border-0 bg-light font-weight-normal p-0 text-right " scope="row">
                <div class="p-1 pl-2 pr-2">
                    <div>Treas.</div>
                </div>
            </td>
            <td class="bg-light pt-1 pb-1 border-0 ">
                <div class=""
                     data-bind="text: $data.shares()"></div>
            </td>
        </tr>
        <tr>
            <th colspan="2" scope="col" style="height:10px;" class="border-0 font-weight-normal p-0"
                data-bind="css: 'bg-' + $data.id + ' text-' + $data.id">Assets
            </th>
        </tr>
        <tr>
            <th class="border-0 bg-light font-weight-normal p-0 text-right " scope="row">
                <div class="p-1 pl-2 pr-2">
                    Trains
                </div>
            </th>
            <td class="pt-1 pb-1 bg-light border-0" data-bind="text: _.join(_.map($data.trains(), train=>train.getName()).sort(), ' ')"></td>
        </tr>
        <tr>
            <th class="border-0 bg-table-row font-weight-normal p-0 text-right " scope="row">
                <div class="p-1 pl-2 pr-2">Cash</div>
            </th>
            <td class="pt-1 pb-1 bg-table-row border-0">
                <div data-bind="text: '$' + $data.cash()"></div>
            </td>
        </tr>
        <tr>
            <th class="border-0 bg-light font-weight-normal p-0 text-right " scope="row">
                <div class="p-1 pl-2 pr-2 ">
                    Tokens
                </div>
            </th>
            <td class="pt-1 pb-1 bg-light border-0" data-bind="text:$data.tokens() + '/'"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>