<!-- ko foreach: $data.players() -->
<div class="card d-inline-flex text-center pr-3 pl-3 pt-1 pb-1 text-white rounded-0" style="min-width:10rem;cursor:pointer;height:100%;" data-bind="css: { 'bg-secondary': $parent.currentPlayerId() !== $data.id, 'bg-info' : $parent.currentPlayerId() === $data.id }, popover: $data.popoverParams">
    <h5 class="mb-0" data-bind="text: user().username"></h5>
    <div class="d-flex justify-content-between">
        <div class="mr-4" data-bind="text: '$' + cash()"></div>
        <div data-bind="text: certificates().length + ' certs'"></div>
    </div>
</div>
<!-- ko if: $index() !== $parent.players().length -1 -->
<div class="d-inline-flex" style="width:2px"></div>
<!-- /ko -->
<!-- /ko -->
