<!-- ko if: $data -->
<div class="row d-flex justify-content-center text-center align-items-center" style="height:50vh;">
    <div class="col">
        <div class="col-lg-8 col-xl-7 mx-auto">
            <div class=""><h2 class="font-weight-light p-2">Choose a private company</h2>
                <!-- ko foreach: $data.privatesOffered() -->
                <div class="card d-inline-flex mb-2"
                     style="overflow:hidden;cursor:pointer;min-width:250px;min-height:100px;"
                     data-bind="click: $parent.selectPrivate.bind($parent, $data.id), css: {'border-success': $parent.selectedPrivateId() === $data.id }">
                    <h5 class="card-title font-weight-light bg-erie" data-bind="text: $data.name"></h5>
                    <div data-bind="text: _.startsWith($data.id, 'pass') ? '' : $data.cost"></div>
                </div>
                <!-- /ko -->
                <div>
                    <div class="d-inline-flex">
                        <button type="button" class="btn btn-warning"
                                data-bind="click: pass, visible: $data.privatesOffered().length === 1 && $data.privatesOffered()[0].cost !== 0">
                            Pass
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button type="button" class="btn btn-primary"
                                data-bind="click: commit, visible: selectedPrivateId()">Choose
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->