<!-- ko if: $data -->
<div class="row d-flex justify-content-center text-center align-items-center bg-light" style="height:50vh;">
    <div class="col">
        <div class="col-lg-8 col-xl-7 mx-auto">
            <div class=""><h2 class="font-weight-light p-2">Choose a private company</h2>
                <!-- ko foreach: $data.privatesOffered() -->
                <div class="card d-inline-flex mb-3 mr-3"
                     style="overflow:hidden;background-size:contain;cursor:pointer;min-width:250px;min-height:160px;box-shadow:3px 3px 10px #ccc"
                     data-bind="style: { backgroundImage: 'url(/images/privates/' + $data.id + '.png)', borderWidth: $parent.selectedPrivateId() === $data.id ? '3px' : '1px' },click: $parent.selectPrivate.bind($parent, $data.id), css: {'border-warning': $parent.selectedPrivateId() === $data.id }">
                    <!--<div data-bind="text: _.startsWith($data.id, 'pass') ? '' : $data.cost"></div>-->
                </div>
                <!-- /ko -->
                <div>
                    <div class="d-inline-flex">
                        <button type="button" class="btn btn-warning"
                                data-bind="click: pass, visible: $data.privatesOffered().length === 1 && $data.privatesOffered()[0].cost !== 0">
                            Pass
                        </button>
                    </div>
                    <div class="d-inline-flex">
                        <button type="button" class="btn btn-primary"
                                data-bind="click: commit, visible: selectedPrivateId()">Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->