<!-- ko if: isStockRound() -->
<img style="position:absolute;width:45px;height:45px;top:773px;left:588px;" data-bind="attr: {'src': 'images/tokens/stockround.png' }"/>
<!-- /ko -->
<!-- ko if: isOperatingRound1() -->
<img style="position:absolute;width:45px;height:45px;top:735px;left:652px;" data-bind="attr: {'src': 'images/tokens/or1.png' }"/>
<!-- /ko -->
<!-- ko if: isOperatingRound2() -->
<img style="position:absolute;width:45px;height:45px;top:810px;left:652px;" data-bind="attr: {'src': 'images/tokens/or2.png' }"/>
<!-- /ko -->