<!-- ko if: isStockRound() -->
<img style="position:absolute;width:56px;height:56px;top:58px;left:13px;" data-bind="attr: {'src': 'images/tokens/stockround.png' }"/>
<!-- /ko -->
<!-- ko if: isOperatingRound1() -->
<img style="position:absolute;width:56px;height:56px;top:12px;left:93px;" data-bind="attr: {'src': 'images/tokens/or1.png' }"/>
<!-- /ko -->
<!-- ko if: isOperatingRound2() -->
<img style="position:absolute;width:56px;height:56px;top:105px;left:93px;" data-bind="attr: {'src': 'images/tokens/or2.png' }"/>
<!-- /ko -->