
<div class="alert alert-primary rounded-0 pt-1 pb-1 border-top-0 border-right-0 border-left-0 m-0" role="alert">
    <div class="d-flex align-items-center">
        <div class="mr-3">
            <h4 class="alert-heading font-weight-light mb-0">Sell Shares?</h4>
        </div>
        <ul class="list-unstyled font-weight-light m-0 d-flex mr-3 flex-wrap">
            <li class="bg-gt text-gt rounded pl-2 pr-2 pt-1 pb-1 m-0 mr-1">
                <strong >GT</strong>
            </li>
            <li class="bg-nyc text-nyc rounded pl-2 pr-2 pt-1 pb-1 m-0 mr-1">
                <strong >NYC</strong>
            </li>
            <li class="bg-cando text-cando rounded pl-2 pr-2 pt-1 pb-1 m-0 mr-1">
                <strong >C&O</strong>
            </li>
        </ul>
        <div class="ml-auto d-flex flex-nowrap">
            <button type="button" class="btn btn-sm btn-success mr-1">Buy</button>
            <button type="button" class="btn btn-sm btn-light">Pass</button>

        </div>
    </div>
</div>
