<svg xmlns="http://www.w3.org/2000/svg" style="width:126px;height:144px;">
    <g xmlns="http://www.w3.org/2000/svg" fill-opacity="1" visibility="inherit" pointer-events="all"
       transform="translate(63,72) rotate(0)">
        <polygon fill="#5fb479" stroke="black" stroke-width="1"
                 points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>


        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M -30,53.5 C -15,30 0,0 61,0"></path>

        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M -30,53 C -15,30 15,30 30,53"></path>

        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M -30,54 C -15,30 0,0 62,0"></path>
        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M -30,54 C -15,30 15,30 30,54"></path>

        <text x="0" y="58" fill="black" transform="rotate(0)" stroke="black" stroke-width="0.2"
              font-size="12" text-anchor="middle" visibility="inherit">28
        </text>
    </g>
</svg>