<svg>
    <g fill-opacity="1" visibility="inherit" transform="translate(63,72)" pointer-events="none">
        <polygon fill="#ffe300" stroke="black" stroke-width="1" points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>
        <circle cx="0" cy="0" r="26" fill="white" stroke-width="1"></circle>
        <path fill="none" stroke="white" stroke-width="13"
              d="M 0, 0 L 30,53"></path>
        <path fill="none" stroke="black" stroke-width="9"
              d="M 0, 0 L 30,54"></path>
        <path fill="none" stroke="white" stroke-width="13"
              d="M 0, 0 L -30,53"></path>
        <path fill="none" stroke="black" stroke-width="9"
              d="M 0, 0 L -30,54"></path>
        <circle cx="0" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>

        <g transform="translate(0, -46)" >
            <circle cx="0" cy="0" r="13" fill="white" stroke="black" stroke-width="1"></circle>
            <text x="0" y="2" fill="black" stroke="black" stroke-width="0.4"
                  font-size="16" alignment-baseline="middle" text-anchor="middle" visibility="inherit" data-bind="css: 'pos-value' + ($data.position ? $data.position() : 0)">20
            </text>
        </g>

        <text x="0" y="58" fill="black" stroke="black" stroke-width="0.2"
              font-size="12" text-anchor="middle" visibility="inherit">5
        </text>
    </g>
</svg>
