<svg style="width:126px;height:144px;">
    <defs>
        <clipPath id="298-clip">
            <polygon stroke="black"
                     points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>
        </clipPath>
    </defs>
    <g xmlns="http://www.w3.org/2000/svg" fill-opacity="1" visibility="inherit" pointer-events="all"
       transform="translate(63,72)" clip-path="url(#298-clip)">

        <polygon fill="#5fb479" stroke="black" stroke-width="2"
                 points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"
                 data-bind="attr: { fill: $data.colorId === 'y' ? '#ffe300' : $data.colorId === 'g' ? '#5fb479' : $data.colorId === 'b' ? '#c18157' : '#d2d2d4'}  "></polygon>


        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 31,-53.69 C 17.22,-29.83 34.45,0 62,0"></path>

        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 31,-53.69 C 11.82,-20.47 11.82,20.47 31,53.69"></path>

        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 31,-53.69 L -31,53.69"></path>

        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 31,-53.69 C 11.82,-20.47 -23.64,0 -62,0"></path>


        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 31,-53.69 C 17.22,-29.83 34.45,0 62,0"></path>

        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 31,-53.69 C 11.82,-20.47 11.82,20.47 31,53.69"></path>

        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 31,-53.69 L -31,53.69"></path>

        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 31,-53.69 C 11.82,-20.47 -23.64,0 -62,0"></path>

        <circle cx="40" cy="-5" r="23" fill="white" stroke="black" stroke-width="1"></circle>
        <circle cx="48" cy="0" r="23" fill="white" stroke="black" stroke-width="1" transform="rotate(60 0 0)"></circle>
        <circle cx="48" cy="0" r="23" fill="white" stroke="black" stroke-width="1" transform="rotate(120 0 0)"></circle>
        <circle cx="48" cy="0" r="23" fill="white" stroke="black" stroke-width="1" transform="rotate(180 0 0)"></circle>

        <circle cx="0" cy="-49" r="13" fill="white" stroke="black" stroke-width="1"></circle>
        <text x="0" y="-47" fill="black" stroke="black" stroke-width="0.4"
              font-size="16" alignment-baseline="middle" text-anchor="middle" visibility="inherit">40
        </text>
        <text x="-33" y="-26" fill="black" stroke="black" stroke-width="" 1
              font-size="20" text-anchor="middle" visibility="inherit">CHI
        </text>
        <polygon fill="none" stroke="black" stroke-width="2"
                 points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"></polygon>

    </g>
</svg>