<svg style="width:250px;height:122px;">
    <g fill-opacity="1" visibility="inherit" transform="translate(125,61)" pointer-events="none">

        <!-- ko if: $data.getRoutedConnection([-1,0]) -->
        <g transform="translate(-85,-47)">
            <polygon transform="rotate(150)" fill="" points="-8,0 8,-60 24,0" data-bind="attr: { fill: $data.getOuterStrokeColor([-1,0]) }"></polygon>
            <polygon transform="rotate(150)" fill="black" points="0,0 8,-31 16,0"></polygon>
        </g>
        <!-- /ko -->


    </g>
</svg>