<svg style="width:126px;height:144px;">
    <g fill-opacity="1" visibility="inherit" transform="translate(63,72)" pointer-events="none">

        <!-- ko if: $data.getTokensForCity(7).length > 0 -->
        <image xlink:href="" x="-41" y="-20" height="40px" width="40px"
               data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[0] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
        <!-- /ko -->
        <!-- ko if: $data.getTokensForCity(7).length > 1 -->
        <image xlink:href="" x="2" y="-20" height="40px" width="40px"
               data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[1] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
        <!-- /ko -->
    </g>
</svg>
