<svg style="width:126px;height:144px;">
    <g fill-opacity="1" visibility="inherit" transform="translate(63,72)" pointer-events="none">

        <!-- ko foreach: $data.connections -->
        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="" data-bind="attr: { d: $parent.getDrawingInstructions($data),  stroke: $parent.getOuterStrokeColor($data), 'stroke-width': $parent.getOuterStrokeWidth($data) }"></path>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 2 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(0 0 0)">
            <circle cx="-23" cy="0" r="26" fill="white" stroke-width="1" stroke-width="1" data-bind="attr: { stroke: $data.getCityOuterStrokeColor(7), 'stroke-width': $data.getCityOuterStrokeWidth(7) }"></circle>
            <circle cx="23" cy="0" r="26" fill="white" stroke-width="1" stroke-width="1" data-bind="attr: { stroke: $data.getCityOuterStrokeColor(7), 'stroke-width': $data.getCityOuterStrokeWidth(7) }"></circle>
            <rect x="-26" y="-26" width="52" height="52" fill="white" stroke-width="1" data-bind="attr: { stroke: $data.getCityOuterStrokeColor(7), 'stroke-width': $data.getCityOuterStrokeWidth(7) }"></rect>
        </g>
        <!-- /ko -->

        <!-- ko foreach: $data.connections -->
        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="" data-bind="attr: { d: $parent.getDrawingInstructions($data,true) }"></path>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 2 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(0 0 0)">
            <rect x="-23" y="-23" width="46" height="46" fill="white" stroke="black" stroke-width="1"></rect>
            <circle cx="-23" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>
            <circle cx="23" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>

            <!-- ko if: $data.getTokensForCity(7).length > 0 -->
            <image xlink:href="" x="-42" y="-19" height="40px" width="40px"
                   data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[0] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
            <!-- /ko -->

            <!-- ko if: $data.getTokensForCity(7).length > 1 -->
            <image xlink:href="" x="42" y="-19" height="40px" width="40px"
                   data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[1] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
            <!-- /ko -->
        </g>
        <!-- /ko -->

    </g>
</svg>
