<svg style="width:126px;height:144px;">
    <g fill-opacity="1" visibility="inherit" transform="translate(63,72)" pointer-events="none">

        <!-- ko foreach: $data.connections -->
        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 32 54 C 25,45 16,12 16 12"
              data-bind="attr: { stroke: $parent.getOuterStrokeColor($data), 'stroke-width': $parent.getOuterStrokeWidth($data) }"></path>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 1 -->
        <circle cx="16" cy="12" r="26" fill="white" stroke-width="1"></circle>
        <!-- /ko -->

        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 32 54 C 25,45 16,12 16 12"></path>

        <!-- ko foreach: $data.getRoutedConnections() -->
        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d="M 32 54 C 25,45 16,12 16 12"
              data-bind="attr: { stroke: $parent.getOuterStrokeColor($data), 'stroke-width': $parent.getOuterStrokeWidth($data) }"></path>
        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="M 32 54 C 25,45 16,12 16 12"></path>
        <!-- /ko -->

        <!-- ko foreach: $data.getRoutedCityColors() -->
        <circle cx="16" cy="12" r="26" fill="none" stroke-width="8"
                data-bind="attr: { stroke: $data, 'stroke-dasharray':$parent.getCityDashArray(), 'stroke-dashoffset': $index()*$parent.getCityDashOffset() }"></circle>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 1 -->
        <circle cx="16" cy="12" r="23" fill="white" stroke="black" stroke-width="1"></circle>
        <!-- ko if:  $data.getReservedTokensForCity(7).length > 0 -->
        <image xlink:href="" x="-4" y="-8" height="40px" width="40px"
               data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getReservedTokensForCity(7)[0] + '-r.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
        <!-- /ko -->
        <!-- ko if:  $data.getTokensForCity(7).length > 0 -->
        <image xlink:href="" x="-4" y="-8" height="40px" width="40px"
               data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[0] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: $data.hasSteamboat() -->
        <g transform="translate(-55, 7)">
        <image xlink:href="" x="0" y="0" height="26px" width="26px"
               data-bind="attr: {'xlink:href': 'images/tokens/boat.png' }, css: 'pos-boat' + ($data.position ? $data.position() : 0)"></image>
        </g>
        <!-- /ko -->

    </g>
</svg>
