<!-- ko if: $data.colorId !== 'i' -->
<svg style="width:126px;height:144px;">
    <g fill-opacity="1" visibility="inherit" transform="translate(63,72)" pointer-events="none">
        <polygon fill="#ffe300" stroke="black" stroke-width="1"
                 points="0,-71.59 62,-35.796 62,35.796 0,71.59 -62,35.796 -62,-35.796"
                 data-bind="attr: { fill: $data.colorId === 'y' ? '#ffe300' : $data.colorId === 'g' ? '#5fb479' : $data.colorId === 'b' ? '#c18157' : '#d2d2d4'}  "></polygon>

        <!-- ko foreach: $data.connections -->
        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d=""
              data-bind="attr: { d: $parent.getDrawingInstructions($data)}"></path>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 1 -->
        <circle cx="0" cy="0" r="26" fill="white" stroke-width="1"></circle>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 2 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <circle cx="-23" cy="0" r="26" fill="white" stroke-width="1"></circle>
            <circle cx="23" cy="0" r="26" fill="white" stroke-width="1"></circle>
            <rect x="-26" y="-26" width="52" height="52" fill="white"></rect>
        </g>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 3 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <circle cx="-23" cy="-13" r="25" fill="white"></circle>
            <circle cx="23" cy="-13" r="25" fill="white"></circle>
            <circle cx="0" cy="27" r="25" fill="white"></circle>
            <rect x="-26" y="-38" width="52" height="52" fill="white"></rect>
            <rect x="-26" y="-38" width="52" height="52" fill="white" transform="rotate(120 0 0)"></rect>
            <rect x="-26" y="-38" width="52" height="52" fill="white" transform="rotate(240 0 0)"></rect>
        </g>
        <!-- /ko -->

        <!-- ko foreach: $data.connections -->
        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="" data-bind="attr: { d: $parent.getDrawingInstructions($data,true) }"></path>
        <!-- /ko -->


        <!-- ko foreach: $data.getRoutedConnections() -->
        <path fill="none" pointer-events="none" stroke="white" stroke-width="13"
              d=""
              data-bind="attr: { d: $parent.getDrawingInstructions($data), stroke: $parent.getOuterStrokeColor($data), 'stroke-width': $parent.getOuterStrokeWidth($data) }"></path>
        <path fill="none" pointer-events="none" stroke="black" stroke-width="9"
              d="" data-bind="attr: { d: $parent.getDrawingInstructions($data,true) }"></path>
        <!-- /ko -->


        <!-- ko foreach: $data.getRoutedCityColors() -->
        <!-- ko if: $parent.cities[7].maxTokens === 1 -->
        <circle cx="0" cy="0" r="26" fill="none" stroke-width="8"
                data-bind="attr: { stroke: $data, 'stroke-dasharray':$parent.getCityDashArray(), 'stroke-dashoffset': $index()*$parent.getCityDashOffset() }"></circle>
        <!-- /ko -->
        <!-- ko if: $parent.cities[7].maxTokens === 2 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <rect x="-50" y="-26" width="100" height="52" rx="26" ry="26" fill="none" stroke-width="8"
                  data-bind="attr: { stroke: $data, 'stroke-dasharray':$parent.getCityDashArray(), 'stroke-dashoffset': $index()*$parent.getCityDashOffset() }"></rect>
        </g>
        <!-- /ko -->
        <!-- ko if: $parent.cities[7].maxTokens === 3 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <path d="M -26 -40 L 26 -40 A 26 26 0 0 1 46 0 L 23 41 A 26 26 0 0 1 -23 41 L -46 0 A 26 26 0 0 1 -26 -40"
                  fill="none" stroke-width="8"
                  data-bind="attr: { stroke: $data, 'stroke-dasharray':$parent.getCityDashArray(), 'stroke-dashoffset': $index()*$parent.getCityDashOffset() }"></path>
        </g>
        <!-- /ko -->
        <!-- /ko -->


        <!-- ko if: $data.cities[7].maxTokens === 1 -->
        <circle cx="0" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>
        <!-- ko if: $data.getTokensForCity(7).length > 0 -->
        <image xlink:href="" x="-20" y="-20" height="40px" width="40px"
               data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[0] + '.png' }, css: 'pos-value' + ($data.position ? $data.position() : 0)"></image>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 2 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <rect x="-23" y="-23" width="46" height="46" fill="white" stroke="black" stroke-width="1"></rect>
            <circle cx="-23" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>
            <circle cx="23" cy="0" r="23" fill="white" stroke="black" stroke-width="1"></circle>
        </g>

        <!-- ko if: $data.getTokensForCity(7).length > 0 -->
        <g transform="translate(-40, -31)">
            <image xlink:href="" x="0" y="0" height="40px" width="40px"
                   data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[0] + '.png' }, css: 'pos-token' + ($data.position ? $data.position() : 0)"></image>
        </g>
        <!-- /ko -->

        <!-- ko if: $data.getTokensForCity(7).length > 1 -->
        <g transform="translate(40, 31)">
            <image xlink:href="" x="0" y="0" height="40px" width="40px"
                   data-bind="attr: {'xlink:href': 'images/tokens/' + $data.getTokensForCity(7)[1] + '.png' }, css: 'pos-token' + ($data.position ? $data.position() : 0)"></image>
        </g>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 3 -->
        <g fill-opacity="1" visibility="inherit" transform="rotate(30 0 0)">
            <rect x="-23" y="-36" width="46" height="46" fill="white" stroke="black" stroke-width="1"></rect>
            <rect x="-23" y="-36" width="46" height="46" fill="white" stroke="black" stroke-width="1"
                  transform="rotate(120 0 0)"></rect>
            <rect x="-23" y="-36" width="46" height="46" fill="white" stroke="black" stroke-width="1"
                  transform="rotate(240 0 0)"></rect>
            <circle cx="-23" cy="-13" r="23" fill="white" stroke="black" stroke-width="1"></circle>
            <circle cx="23" cy="-13" r="23" fill="white" stroke="black" stroke-width="1"></circle>
            <circle cx="0" cy="27" r="23" fill="white" stroke="black" stroke-width="1"></circle>
        </g>
        <!-- /ko -->


        <!-- ko if: $data.getRevenue() -->
        <!-- ko if: $data.cities[7].maxTokens < 3 -->
        <g transform="translate(0, -46)">
            <circle cx="0" cy="0" r="13" fill="white" stroke="black" stroke-width="1"></circle>
            <text x="0" y="2" fill="black" stroke="black" stroke-width="0.4"
                  font-size="16" alignment-baseline="middle" text-anchor="middle" visibility="inherit"
                  data-bind="css: 'pos-value' + ($data.position ? $data.position() : 0), text: $data.getRevenue()">
            </text>
        </g>
        <!-- /ko -->
        <!-- ko if: $data.cities[7].maxTokens === 3 -->
        <g transform="translate(-50, 28)">
            <circle cx="0" cy="0" r="10" fill="white" stroke="black" stroke-width="1"></circle>
            <text x="0" y="2" fill="black" stroke="black" stroke-width="0.4"
                  font-size="14" alignment-baseline="middle" text-anchor="middle" visibility="inherit"
                  data-bind="css: 'pos-value' + ($data.position ? $data.position() : 0), text: $data.getRevenue()">60
            </text>
        </g>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 1 -->
        <text x="-39" y="-16" fill="black" stroke="black" stroke-width="1"
              font-size="24" text-anchor="middle" visibility="inherit">Z
        </text>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 2 -->
        <text x="-44" y="34" fill="black" stroke="black" stroke-width="1"
              font-size="24" text-anchor="middle" visibility="inherit">Z
        </text>
        <!-- /ko -->

        <!-- ko if: $data.cities[7].maxTokens === 3 -->
        <text x="-50" y="-18" fill="black" stroke="black" stroke-width="1"
              font-size="24" text-anchor="middle" visibility="inherit">Z
        </text>
        <!-- /ko -->

        <text x="0" y="61" fill="black" stroke="black" stroke-width="0.2"
              font-size="12" text-anchor="middle" visibility="inherit" data-bind="text: $data.id">
        </text>
    </g>
</svg>
<!-- /ko -->
